# Cookies origin. None | Strict.
Header always edit Set-Cookie (.*) "$1; HTTPOnly; Secure; SameSite=None"

<IfModule mod_rewrite.c>
  # Redirects the server url to client-side.
  RewriteEngine On
  RewriteBase /

  # Custom 404 page redirects.
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]

  # To non-WWW.
  RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
  RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

  # To HTTPS.
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

# Blocks directory listing.
Options -Indexes

# Redirects 403 error to main page.
ErrorDocument 403 /

# Prevents framing.
  Header always append X-Frame-Options SAMEORIGIN


<IfModule mod_headers.c>
  # XSS attacks.
  Header always set X-XSS-Protection "1; mode=block"

  # Vary compression.
    <FilesMatch ".(js|css|xml|gz|html)$">
        Header append Vary: Accept-Encoding
    </FilesMatch>

  # Auto detection of resource type.
  Header always set X-Content-Type-Options "nosniff"
</IfModule>

# Expires caching.
<IfModule mod_expires.c>
    ExpiresActive On
    
    # Images.
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"
    
    # Video.
    ExpiresByType video/mp4 "access plus 1 year"
    ExpiresByType video/mpeg "access plus 1 year"
    
    # CSS, JavaScript.
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    
    # Others.
    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>

# Compression.
  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE application/atom+xml application/javascript application/json application/rss+xml application/xhtml+xml application/xml image/svg+xml image/x-icon text/css text/html text/plain text/x-component text/xml
  </IfModule>

# Default charset.
AddDefaultCharset UTF-8